*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




nav {
    width: 100%;
    padding:0.4rem 5% ;
    
    
    margin-top:2rem ;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.logo{
    font-size:1.5rem ;
    font-weight: 900;
    
  font-family: "Anton", sans-serif;
  


    color: #020279;
}

.nav-links{
    list-style: none;
    display: flex;
    gap:3rem;
}


.nav-links li a{
    position: relative;
    font-weight: 500px;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.btns{
    display: flex;
}

.btn{
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    background: white;
    border: 2px solid #00000a;
    border-radius: 20px;
    transition: 0.2s;
}

.nav-links li a:hover{
    
    font-weight: 2.5rem;
    font-size: 1rem;
    transition: 0.2s;
    color: rgb(116, 116, 116);
}

.btn:hover{
    
    cursor: pointer;
    background:#00000b;
    border: 2px solid #000000;
    color: white;
    border-radius: 20px;
    transition: 0.2s;
}

.brand-para{
       font-family: "Lexend", sans-serif;
       font-size: 3rem;
       padding-top: 30px;
       padding-left:60px ;
}

.paragraph-para{
    padding-left: 63px;
    padding-top: 15px;
   
}

.com-para{
    padding-left: 63px;
    padding-top: 8px;

}

.moreinfo{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 13px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 60px;
    margin-top: 30px;
}

.slider{

    margin: 0 auto;   /* centers the box horizontally */

    height: 90%;
    width: 100%;
    overflow: hidden;
    
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    padding-bottom: 20px;
   
    
}

.slider-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: scrolling 20s linear infinite;
}

@keyframes scrolling{
    0%{
        transform: translateX(80%);
        
    }

    100%{
        transform: translateX(-20%);
    }
}

.slider-item img {
    width: 12%;
    margin-left: 20px;
}

.partner{
    padding-top:70px;
    padding-bottom: 50px;
   display: flex;
    justify-content: center;   /* centers horizontally */
   font-family: "Lexend", sans-serif;

}

.item{
    height: 240px;
    width: 270px;
    background-color: rgb(224, 223, 223);
    border-radius: 20px;
    
  box-shadow: 0 2px 12px rgba(0,0,0,0.15);


    
}

.greybox{
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.word{
    margin-top: 50px;
     font-family: "Oswald", sans-serif;

}

.desc{
    margin-top: 30px;
    font-family: "Roboto Condensed", sans-serif;
}

.item a{
     font-size: 20px;         /* text size */
    padding: 10px 15px;      /* top/bottom and left/right spacing */
    
    color: #0c0c0c;             /* link color */
    display: inline-block;   /* makes padding work properly */
    transition: color 0.3s;  /* smooth hover effect */
}

.item a:hover{
     font-size: 20px;         /* text size */
    padding: 10px 15px;      /* top/bottom and left/right spacing */
    
    color: #525151;             /* link color */
    display: inline-block;   /* makes padding work properly */
    transition: color 0.3s;  /* smooth hover effect */
}

.selected{
    font-family: "Lexend", sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding-top: 70px;
    padding-left: 50px;
}

.package{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 50px;
}

.item2{
    height: 300px;
    width: 520px;
    background-color: grey;
    
}

.package2{
    display: flex;
    justify-content: center;
    gap: 40px;
    
    padding-top: 50px;
}

.item3{
    height: 300px;
    width: 520px;
    background-color: grey;
    
}

.package img{
    height: 300px;
    width: 530px;
    object-fit: cover;
}

.package2 img{
    height: 300px;
    width: 530px;
    object-fit: cover;
}

.item2, .item3 {
    position: relative;
    overflow: hidden;
}

/* Image Blur on Hover */
.item2:hover img,
.item3:hover img {
    filter: blur(4px);
    transform: scale(1.05);
    transition: 0.3s ease;
}

/* Overlay box */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(4px);

    color: white;
    opacity: 0;
    transition: 0.3s ease;
    gap: 10px;
}

.overlay p{
    font-size: 30px;
    font-family: 'Quicksand';
    color: rgb(244, 238, 238);
}

/* Show Overlay on Hover */
.item2:hover .overlay,
.item3:hover .overlay {
    opacity: 1;
}

/* Button styling */
.overlay button {
    padding: 8px 16px;
    font-size: 16px;
    background:none;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.overlay button:hover{
    color: rgb(119, 118, 118);
    background-color: white;
    transition: 0.2s;
}

.viewmore button{
    padding: 15px;
    border-radius: 30px;
    border: 2px solid black;
    background: #000000;
    color: aliceblue;
    transition: 0.2s;
}

.viewmore button:hover{
    padding: 15px;
    
    border: 2px solid black;
    background: #fefefe;
    color: rgb(4, 4, 4);
    transition: 0.2s;
}

.viewmore{
    padding: 10px;
    margin-top: 50px;
    margin-left: 530px;
}

.frequent{
    font-family: "Lexend", sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-top: 70px;
    padding-left: 50px;
}

.questions{
    padding-top: 40px;
    padding-left: 50px;
}

.q{
    background-color: rgb(249, 246, 189);
    height: 50px;
    width: 900px;
    font-size: 20px;
    align-content: center;
    padding-left: 20px;
    border-radius: 20px;
    font-family: "Lexend", sans-serif;
    
}
.q1{
    background-color: rgb(170, 243, 177);
    height: 50px;
    width: 900px;
    font-size: 20px;
    align-content: center;
    padding-left: 20px;
    border-radius: 20px;
    font-family: "Lexend", sans-serif;
}
.q2{
    background-color: rgb(180, 198, 254);
    height: 50px;
    width: 900px;
    font-size: 20px;
    align-content: center;
    padding-left: 20px;
    border-radius: 20px;
    font-family: "Lexend", sans-serif;
}
.q3{
    background-color: rgb(235, 192, 207);
    height: 50px;
    width: 900px;
    font-size: 20px;
    align-content: center;
    padding-left: 20px;
    border-radius: 20px;
    font-family: "Lexend", sans-serif;
}

.ans{
    background-color: rgb(235, 235, 235);
    height: 100px;
    width: 900px;
    font-size: 20px;
    align-content: center;
    padding-left: 20px;
    border-radius: 20px;
    margin-top: 30px;
   
}

.pack{
    font-size: 28px;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    padding-left: 255px;
    padding-top: 90px;
}


.pack2{
    margin-left:250px; 
    padding-top: 30px;
}

.pack3{
    margin-left:710px; 
    margin-top: -160px;
}

.pack4{
    padding-left: 255px;
    padding-top: 30px;
}

